.history {
  fill:#F9B233 !important;
}
.bio {
  fill: #95C11F !important;
}
.difesa {
  fill: #E94E1B !important;
}
.genio {
  fill: #312783 !important;
}
.cielo {
  fill: #006633 !important;
}

.mulini{
  fill: #009EE2 !important;
}

#mapid {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Color underline layer switcher */
.green {
  text-decoration-line: underline;
  text-decoration-color: green;
}

.red {
  text-decoration-line: underline;
  text-decoration-color: darkred;
}

.gold {
  text-decoration-line: underline;
  text-decoration-color: gold;
}


.deeppink {
  text-decoration-line: underline;
  text-decoration-color: purple;
}

.orange {
  text-decoration-line: underline;
  text-decoration-color: darkorange;
}

.blu {
  text-decoration-line: underline ;
  text-decoration-color: blue;
}

div > i {
  margin-right: 10px;
}
